In [18]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import matplotlib.font_manager as fm
font_name = fm.FontProperties(fname="C:\\Windows\\Fonts\\malgun.ttf").get_name()
plt.rc("font", family=font_name)

import matplotlib as mlp
mlp.rcParams["axes.unicode_minus"] = False

In [19]:
from sklearn.cluster import KMeans

In [3]:
df = pd.read_csv("data/QGIS_전처리/충전소추천_격자_위경도.csv")
df

           gid         lon        lat
0     다사641561  127.093848  37.604072
1     다사633553  127.084825  37.596830
2     다사629556  127.080279  37.599518
3     다사641563  127.093838  37.605875
4     다사633554  127.084820  37.597731
...        ...         ...        ...
1698  다사617456  127.067206  37.509336
1699  다사599429  127.046987  37.484923
1700  다사593469  127.039979  37.520950
1701  다사599456  127.046840  37.509259
1702  다사600456  127.047972  37.509264

[1703 rows x 3 columns]

In [4]:
X = df[["lon","lat"]]
X

             lon        lat
0     127.093848  37.604072
1     127.084825  37.596830
2     127.080279  37.599518
3     127.093838  37.605875
4     127.084820  37.597731
...          ...        ...
1698  127.067206  37.509336
1699  127.046987  37.484923
1700  127.039979  37.520950
1701  127.046840  37.509259
1702  127.047972  37.509264

[1703 rows x 2 columns]

In [5]:
model = KMeans(n_clusters=170).fit(X)

In [6]:
labels = []
for i in model.labels_:
    labels.append(i)
labels

[103,
 73,
 73,
 103,
 73,
 73,
 80,
 103,
 73,
 73,
 103,
 118,
 73,
 73,
 103,
 103,
 73,
 118,
 73,
 103,
 118,
 103,
 20,
 20,
 103,
 103,
 103,
 20,
 20,
 103,
 20,
 80,
 20,
 20,
 20,
 103,
 166,
 55,
 95,
 55,
 55,
 55,
 155,
 166,
 55,
 55,
 55,
 24,
 95,
 44,
 119,
 95,
 95,
 44,
 95,
 44,
 24,
 24,
 24,
 24,
 24,
 114,
 24,
 4,
 4,
 24,
 4,
 24,
 63,
 4,
 63,
 95,
 63,
 4,
 4,
 168,
 4,
 4,
 63,
 95,
 4,
 24,
 4,
 24,
 168,
 114,
 4,
 132,
 168,
 63,
 4,
 24,
 114,
 4,
 168,
 4,
 63,
 24,
 24,
 114,
 63,
 4,
 114,
 24,
 24,
 63,
 132,
 95,
 24,
 4,
 24,
 24,
 168,
 168,
 24,
 24,
 24,
 63,
 95,
 4,
 4,
 24,
 4,
 168,
 95,
 168,
 95,
 168,
 4,
 71,
 71,
 71,
 71,
 71,
 71,
 71,
 71,
 71,
 19,
 68,
 44,
 68,
 19,
 68,
 68,
 19,
 68,
 19,
 44,
 68,
 19,
 44,
 68,
 19,
 19,
 33,
 44,
 19,
 68,
 68,
 19,
 19,
 44,
 33,
 19,
 19,
 19,
 19,
 19,
 19,
 5,
 85,
 27,
 27,
 5,
 5,
 41,
 41,
 41,
 5,
 27,
 5,
 110,
 85,
 5,
 27,
 27,
 48,
 48,
 5,
 41,
 27,
 48,
 94,
 5,
 48,
 41,
 110,
 85,
 5,
 110,
 94,
 94,
 85,
 85,
 85,
 5,
 5,
 41,
 5,
 27,
 5,
 110,
 41,
 94,
 5,
 27,
 48,
 110,
 85,
 48,
 5,
 5,
 5,
 27,
 144,
 94,
 5,
 110,
 48,
 41,
 53,
 27,
 27,
 27,
 148,
 94,
 27,
 27,
 41,
 110,
 41,
 41,
 85,
 27,
 27,
 110,
 154,
 85,
 144,
 5,
 48,
 23,
 62,
 29,
 123,
 130,
 51,
 29,
 29,
 123,
 130,
 81,
 51,
 81,
 130,
 29,
 51,
 130,
 29,
 10,
 51,
 29,
 81,
 29,
 29,
 10,
 81,
 123,
 29,
 10,
 81,
 130,
 10,
 123,
 10,
 29,
 123,
 130,
 10,
 10,
 10,
 29,
 81,
 29,
 148,
 123,
 51,
 161,
 53,
 161,
 53,
 53,
 81,
 10,
 130,
 51,
 161,
 161,
 53,
 161,
 53,
 161,
 123,
 53,
 53,
 29,
 161,
 51,
 161,
 161,
 123,
 161,
 53,
 53,
 53,
 8,
 25,
 98,
 102,
 138,
 59,
 8,
 32,
 25,
 25,
 54,
 54,
 78,
 121,
 138,
 8,
 8,
 50,
 25,
 121,
 121,
 121,
 59,
 138,
 8,
 59,
 59,
 138,
 78,
 98,
 8,
 102,
 78,
 54,
 78,
 102,
 102,
 102,
 78,
 8,
 50,
 102,
 50,
 102,
 78,
 50,
 138,
 121,
 25,
 78,
 32,
 138,
 59,
 32,
 78,
 102,
 102,
 100,
 50,
 59,
 138,
 32,
 32,
 138,
 138,
 138,
 138,
 121,
 121,
 8,
 59,
 8,
 78,
 98,
 54,
 138,
 8,
 98,
 121,
 78,
 138,
 100,
 78,
 32,
 98,
 121,
 32,
 54,
 50,
 78,
 98,
 138,
 54,
 8,
 167,
 54,
 25,
 138,
 54,
 102,
 8,
 138,
 121,
 25,
 54,
 98,
 54,
 50,
 25,
 8,
 167,
 102,
 121,
 25,
 102,
 121,
 50,
 78,
 25,
 32,
 8,
 54,
 25,
 8,
 121,
 138,
 8,
 32,
 54,
 8,
 50,
 78,
 54,
 78,
 50,
 78,
 102,
 25,
 102,
 121,
 138,
 54,
 121,
 138,
 78,
 32,
 102,
 25,
 8,
 78,
 8,
 121,
 102,
 78,
 98,
 59,
 78,
 54,
 98,
 98,
 8,
 8,
 100,
 138,
 54,
 102,
 59,
 28,
 124,
 45,
 124,
 28,
 124,
 124,
 28,
 163,
 163,
 79,
 7,
 28,
 124,
 79,
 93,
 45,
 28,
 28,
 28,
 28,
 93,
 124,
 124,
 163,
 28,
 124,
 124,
 124,
 124,
 45,
 28,
 124,
 124,
 124,
 28,
 45,
 28,
 163,
 124,
 28,
 28,
 79,
 79,
 79,
 163,
 93,
 124,
 28,
 124,
 93,
 124,
 28,
 7,
 124,
 28,
 28,
 28,
 163,
 79,
 124,
 45,
 45,
 45,
 7,
 79,
 7,
 93,
 79,
 116,
 111,
 156,
 11,
 156,
 150,
 156,
 11,
 157,
 111,
 116,
 11,
 11,
 156,
 156,
 116,
 156,
 150,
 116,
 156,
 11,
 150,
 17,
 11,
 156,
 169,
 111,
 119,
 169,
 119,
 156,
 150,
 157,
 116,
 17,
 156,
 17,
 116,
 11,
 169,
 169,
 11,
 116,
 156,
 11,
 116,
 17,
 169,
 169,
 17,
 116,
 11,
 150,
 116,
 11,
 84,
 11,
 17,
 17,
 169,
 169,
 84,
 116,
 84,
 169,
 111,
 84,
 169,
 17,
 111,
 11,
 164,
 108,
 89,
 9,
 34,
 108,
 75,
 34,
 34,
 108,
 34,
 9,
 34,
 164,
 34,
 34,
 34,
 9,
 108,
 89,
 34,
 34,
 108,
 108,
 9,
 42,
 34,
 42,
 34,
 34,
 108,
 34,
 9,
 9,
 9,
 34,
 34,
 107,
 89,
 108,
 34,
 34,
 9,
 34,
 34,
 34,
 9,
 108,
 108,
 9,
 34,
 9,
 107,
 34,
 75,
 107,
 42,
 75,
 108,
 34,
 75,
 162,
 89,
 34,
 127,
 34,
 127,
 108,
 162,
 34,
 108,
 107,
 42,
 162,
 75,
 42,
 34,
 42,
 34,
 145,
 35,
 35,
 12,
 35,
 12,
 35,
 145,
 120,
 12,
 145,
 35,
 97,
 35,
 12,
 35,
 12,
 97,
 12,
 120,
 12,
 97,
 12,
 4,
 35,
 97,
 4,
 35,
 12,
 145,
 120,
 12,
 12,
 97,
 35,
 120,
 35,
 97,
 97,
 35,
 97,
 97,
 12,
 145,
 97,
 35,
 12,
 120,
 155,
 12,
 4,
 46,
 44,
 46,
 60,
 33,
 46,
 60,
 44,
 33,
 46,
 46,
 46,
 44,
 46,
 44,
 60,
 44,
 46,
 44,
 60,
 46,
 46,
 12,
 46,
 46,
 155,
 46,
 60,
 60,
 60,
 60,
 60,
 60,
 133,
 96,
 13,
 92,
 158,
 23,
 92,
 105,
 26,
 26,
 105,
 92,
 83,
 83,
 26,
 83,
 23,
 23,
 133,
 105,
 92,
 23,
 92,
 83,
 23,
 23,
 13,
 133,
 133,
 23,
 26,
 105,
 158,
 23,
 92,
 105,
 26,
 83,
 105,
 105,
 23,
 105,
 158,
 92,
 26,
 23,
 26,
 133,
 13,
 92,
 26,
 105,
 23,
 133,
 133,
 105,
 112,
 23,
 133,
 133,
 105,
 23,
 13,
 23,
 105,
 83,
 158,
 23,
 23,
 23,
 26,
 105,
 83,
 23,
 26,
 23,
 92,
 13,
 13,
 96,
 96,
 96,
 13,
 96,
 137,
 137,
 84,
 40,
 84,
 160,
 40,
 69,
 40,
 69,
 69,
 69,
 69,
 69,
 84,
 40,
 84,
 21,
 140,
 140,
 21,
 140,
 72,
 21,
 159,
 159,
 21,
 72,
 140,
 159,
 21,
 21,
 159,
 159,
 21,
 159,
 87,
 87,
 87,
 21,
 159,
 21,
 21,
 87,
 49,
 72,
 30,
 117,
 49,
 49,
 3,
 117,
 74,
 117,
 129,
 142,
 129,
 129,
 74,
 74,
 74,
 43,
 49,
 43,
 117,
 49,
 117,
 43,
 43,
 87,
 49,
 117,
 49,
 49,
 49,
 74,
 117,
 3,
 117,
 129,
 43,
 117,
 117,
 30,
 146,
 49,
 117,
 129,
 43,
 117,
 49,
 43,
 49,
 49,
 117,
 146,
 74,
 142,
 3,
 30,
 142,
 43,
 129,
 49,
 30,
 129,
 129,
 129,
 129,
 30,
 87,
 43,
 117,
 129,
 93,
 129,
 117,
 129,
 117,
 117,
 ...]

In [7]:
label = pd.DataFrame([labels]).T
label.columns = ["라벨"]
label.value_counts().head(20)

라벨
34     29
65     27
128    26
14     26
139    25
24     23
4      23
37     23
29     22
2      21
8      21
31     21
78     20
23     20
124    20
0      20
15     20
138    20
36     19
28     19
dtype: int64

In [ ]:
df["라벨"] = label["라벨"]

In [ ]:
df_save = pd.DataFrame()
for i in (52,2,22,36,45,84,77,4,44,25,23,127,5,144,29,26,1,54,119,7):
    df_save = df_save.append(df[df["라벨"] == i])
df_save = df_save[["gid","라벨"]]
df_save["라벨"].value_counts()

In [20]:
df_save.to_csv("data/QGIS_전처리/상위20개.csv", index=False)

NameError: name 'df_save' is not defined

In [24]:
df = pd.read_csv("data/QGIS_전처리/상위20개_위경도.csv")
df = df[["라벨","lon","lat"]]
df["라벨"].value_counts()

52     35
22     30
2      30
36     29
45     29
84     26
77     24
25     23
23     23
44     23
4      23
127    22
5      22
144    21
29     20
26     20
1      20
54     20
119    20
7      19
Name: 라벨, dtype: int64

In [16]:
df_group = df.groupby(by="라벨").median()
df_group

            lon        lat
라벨
1    126.925835  37.501530
2    127.047855  37.526387
4    126.963793  37.572016
5    126.835601  37.534396
7    127.030253  37.625468
22   126.903567  37.457242
23   126.989820  37.574825
25   127.127196  37.505033
26   127.015647  37.607836
29   126.836557  37.554685
36   127.006286  37.480248
44   126.968885  37.489100
45   127.036322  37.560587
52   127.017863  37.617297
54   127.136298  37.496039
77   127.042789  37.523657
84   127.045875  37.483127
119  127.037713  37.520042
127  127.067308  37.493562
144  126.912404  37.480731

In [17]:
df_group.to_csv("data/QGIS_전처리/추천좌표_위경도.csv")